<!DOCTYPE html>
<html>
  <head>
    <title>UVG TOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2-bootstrap.css') }}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% set navigation_bar = [
        ('/', 'feed', 'Inicio'),
        ('/about', 'about', 'Sobre')
    ] -%}
    {% set active_page = active_page|default('feed') -%}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('feed') }}">TOT</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif%}><a href="{{ href|e }}">{{ caption|e }}</a></li>
            {% endfor %}
          </ul>
          <form action="/q" class="search navbar-form navbar-left pull-right hidden-sm hidden-md hidden-xs
          " role="search">
            <div class="form-group">
              <input type="text" class="q form-control" placeholder="En titulos o contenido">
            </div>
            <button type="submit" class="submitQuery btn btn-default disabled">Buscar</button>
          </form>
          <form action="/new" class="navbar-form navbar-left pull-right hidden-sm hidden-md hidden-xs" role="add">
            <button type="submit" class="btn btn-default"><i class="fa-plus fa"></i></button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container block-content">
        {% for category,message in get_flashed_messages(with_categories=true) %}
            <div class="bs-callout bs-callout-{{category}} site-flash">
              <h2>{{ message }}</h2>
            </div>
        {% endfor %}
        <div class="mobile-forms hidden-lg show-sm show-md show-xs">
          <form action="/q" class="search navbar-form navbar-left pull-right" role="search">
            <div class="form-group pull-right">
              <input type="text" class="q form-control" placeholder="En titulos o contenido">
            </div>
            <button type="submit" class="submitQuery btn btn-default disabled pull-right">Buscar</button>
          </form>
          <form action="/new" class="navbar-form navbar-left" role="add">
            <button type="submit" class="btn btn-default"><i class="fa-plus fa"></i></button>
          </form>
        </div>
      <div class="jumbo">
        <img class="logo img-circle" alt="logo" src="{{ url_for('static',filename='img/logo.png') }}">
        <h2>Bienvenido a UVG TOT</h2>
        <small>¿Quieres ofrecer algún producto o servicio? ¡Esta es tu plataforma!</small>
      </div>
      <hr/>
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer">
        <p>&copy Estudiantes de Arq. Empresarial 2013, UVG</p>
        <p>Este es un proyecto de una asignatura. No está afiliado de alguna manera a la Universidad del valle de Guatemala (UVG)</p>
    </div> 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/select2.js') }}"></script>  
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>  
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>